.git
/**/bin
/**/obj
/SurveyDesign/audit/XM/drivers
/SurveyDesign/audit/Images/WebPlayer3.0Build20130409(dv10000).rar

Middle/Entity/EntityQuali/EntityQuali.dll
*.suo
*.suo
/UnitTestProject1
*.pdb
/SurveyDesign/Bin
/dll/EntityBase.dll
/InterfaceKCSJ/Bin
/SurveyDesign/upload
/bugmanager/~$省建筑市场和工程质量安全监管一体化工作平台-平台修改意见.doc
/SurveyDesign/web.config
/四川建设工程项目综合监管系统.sln
/SurveyDesign/web.config
/SurveyDesign/web.config_myself
/SurveyDesign/web.config
