.git
/**/bin
/**/obj
/SurveyDesign/audit/XM/drivers
/SurveyDesign/audit/Images/WebPlayer3.0Build20130409(dv10000).rar

Middle/Entity/EntityQuali/EntityQuali.dll
*.suo
*.suo
/UnitTestProject1
*.pdb
/SurveyDesign/Bin
/dll/EntityBase.dll

