<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProjectData.Properties.Settings.projectinformationConnectionString"
      connectionString="Data Source=192.168.0.108;Initial Catalog=projectinformation;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString1"
      connectionString="Data Source=192.168.0.108;Initial Catalog=ProjectInformation;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString2"
      connectionString="Data Source=192.168.0.108;Initial Catalog=ProjectInformation;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString3"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString4"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString5"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString6"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString7"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString8"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString9"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectInformation;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString10"
      connectionString="Data Source=192.168.0.11\SQL2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectInformationConnectionString11"
      connectionString="Data Source=192.168.0.11\SQL2005;Initial Catalog=ProjectInformation;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.projectChangeConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=projectChange;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.projectChangeConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=projectChange;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectQualiConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectQuali;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.ProjectQualiConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=ProjectQuali;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.projectChangeConnectionString2"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=projectChange;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.BaseProjectInformationConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=BaseProjectInformation;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.EGBPBaseInfoConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=EGBPBaseInfo;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.BaseProjectInformationConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=BaseProjectInformation;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.EGBPBaseInfoConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2008;Initial Catalog=EGBPBaseInfo;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbQualiBJConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbQualiBJ;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbQualiBJConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbQualiBJ;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterBJConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterBJ;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterBJConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterBJ;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbQualiBJConnectionString2"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbQualiBJ;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbQualiBJConnectionString3"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbQualiBJ;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterBJConnectionString2"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterBJ;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterNMGConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterNMG;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterNMGConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterNMG;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterKCSJ;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString1"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterKCSJ;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString2"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterKCSJ;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString3"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterKCSJ;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString4"
      connectionString="Data Source=192.168.0.11\sql2005;Initial Catalog=dbCenterKCSJ;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString5"
      connectionString="Data Source=HOTT-XKZN5MLU7D\SQL2005;Initial Catalog=dbCenterKCSJ;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString6"
      connectionString="Data Source=HOTT-XKZN5MLU7D\SQL2005;Initial Catalog=dbCenterKCSJ;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ProjectData.Properties.Settings.dbCenterKCSJConnectionString7"
      connectionString="Data Source=192.168.0.11\SQL2005;Initial Catalog=dbCenterKCSJ;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

