<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库配置-->
  <DB>
    <dbCenter>dbCenterSX_New</dbCenter>
    <dbQuali>dbQualiSX_New</dbQuali>
  </DB>
  <!--施工企业些配置-->
  <SG>
    <SGEntTel>024-23448650</SGEntTel>
    <!--页面加载动画图片地址-->
    <SGLoadingImg>../images/loading.gif</SGLoadingImg>

    <!--页面加载动提示-->
    <SGLoadingStr>页面加载中，请耐心等待...</SGLoadingStr>

    <!--企业登录后的欢迎信息-->
    <SGEntLoginStr>欢迎登录建筑施工企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</SGEntLoginStr>

    <!--安全生产企业登录后的欢迎信息-->
    <SGSafeEntLoginStr>欢迎登录安全生产许可证管理信息系统，我们将竭诚为您服务！请及时更新系统信息</SGSafeEntLoginStr>

    <!--人员系统人员类型-->
    <JZSPersonType>500000</JZSPersonType>

    <!--人员学历-->
    <SGDegreeId>107000</SGDegreeId>

    <!--人员职称-->
    <SGTechId>108000</SGTechId>

    <!--人员专业-->
    <SGSpecialtyId>109000</SGSpecialtyId>

    <!--安全生产专业-->
    <SGSafeSpecialtyId>109001</SGSafeSpecialtyId>

    <!--安全生产工种-->
    <SGSafeGz>119</SGSafeGz>

    <!--人员状态-->
    <SGRState>121000</SGRState>

    <!--从业状况-->
    <SGWorkState>125000</SGWorkState>

    <!--执业类别-->
    <SGEmpTypeId>123000</SGEmpTypeId>

    <!--注册建造师项目经理编码-->
    <SGProManagerTypeId>123000000</SGProManagerTypeId>

    <!--证书级别-->
    <SGEmpFLevelId>117000</SGEmpFLevelId>

    <!--劳务费分包类人员级别-->
    <SGLWEmpFLevelId>117008</SGLWEmpFLevelId>



    <!--注册专业-->
    <SGFRegistSpecialId>118000</SGFRegistSpecialId>


    <!--企业负责人学历-->
    <SGLeaderDegreeId>107013</SGLeaderDegreeId>

    <!--企业负责人职称-->
    <SGLeaderTechId>108013</SGLeaderTechId>

    <!--企业负责人专业-->
    <SGLeaderSpecialtyId>109000</SGLeaderSpecialtyId>

    <!--设备类型-->
    <SGFDeviceTypeId>182000</SGFDeviceTypeId>

    <!--设备状态-->
    <SGFDeviceState>122000</SGFDeviceState>

    <!--企业类型-->
    <SGEntTypeId>110000</SGEntTypeId>

    <!--企业隶属-->
    <SGSubjectionId>124000</SGSubjectionId>

    <!--注册资金单位-->

    <SGRegistFundUnitId>111000</SGRegistFundUnitId>

    <!--证件类型-->
    <EmpZJLX>1129</EmpZJLX>

    <!--结构类型-->
    <SGJGLX>198</SGJGLX>
  </SG>

  <!--装饰装修企业-->
  <ZSZX>
    <!--持证上岗人员等级-->
    <ZSZXCZRYLevel>26601</ZSZXCZRYLevel>
  </ZSZX>
  <!--监理企业字典表的一些配置-->
  <JL>

    <!--页面加载动画图片地址-->
    <JLLoadingImg>../images/loading.gif</JLLoadingImg>

    <!--页面加载动提示-->
    <JLLoadingStr>页面加载中，请耐心等待...</JLLoadingStr>

    <!--企业登录后的欢迎信息-->
    <JLEntLoginStr>欢迎登录工程监理企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</JLEntLoginStr>


    <!--人员学历-->
    <JLDegreeId>107001</JLDegreeId>

    <!--人员职称-->
    <JLTechId>108001</JLTechId>

    <!--人员专业-->
    <JLSpecialtyId>109002</JLSpecialtyId>

    <!--人员状态-->
    <JLRState>121001</JLRState>

    <!--从业状况-->
    <JLWorkState>125001</JLWorkState>

    <!--执业类别-->
    <JLEmpTypeId>123001</JLEmpTypeId>

    <!--注册建造师项目经理编码-->
    <JLProManagerTypeId>123001000</JLProManagerTypeId>

    <!--证书级别-->
    <JLEmpFLevelId>117001</JLEmpFLevelId>

    <!--注册专业-->
    <JLFRegistSpecialId>118001</JLFRegistSpecialId>


    <!--企业负责人学历-->
    <JLLeaderDegreeId>107001</JLLeaderDegreeId>

    <!--企业负责人职称-->
    <JLLeaderTechId>108001</JLLeaderTechId>


    <!--企业负责人专业-->
    <JlLeaderSpecialtyId>109002</JlLeaderSpecialtyId>

    <!--设备状态-->
    <JLFDeviceState>122001</JLFDeviceState>

    <!--专业工程类别-->
    <JLFProjectTypeId>135003</JLFProjectTypeId>


    <!--企业类型-->
    <JLEntTypeId>110001</JLEntTypeId>

    <!--企业隶属-->
    <JLSubjectionId>124001</JLSubjectionId>

    <!--注册资金单位-->
    <JLRegistFundUnitId>111001</JLRegistFundUnitId>
  </JL>



  <!--招标代理企业字典表的一些配置-->
  <ZB>


    <!--页面加载动画图片地址-->
    <ZBLoadingImg>../images/loading.gif</ZBLoadingImg>

    <!--页面加载动提示-->
    <ZBLoadingStr>页面加载中，请耐心等待...</ZBLoadingStr>


    <!--企业登录后的欢迎信息-->
    <ZBEntLoginStr>欢迎登录招标代理企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</ZBEntLoginStr>


    <!--人员学历-->
    <ZBDegreeId>107002</ZBDegreeId>

    <!--人员职称-->
    <ZBTechId>108002</ZBTechId>

    <!--人员专业-->
    <ZBSpecialtyId>109003</ZBSpecialtyId>

    <!--执业类别-->
    <ZBEmpTypeId>123002</ZBEmpTypeId>

    <!--注册建造师项目经理编码-->
    <ZBProManagerTypeId>123002000</ZBProManagerTypeId>

    <!--人员状态-->
    <ZBRState>121002</ZBRState>

    <!--从业状况-->
    <ZBWorkState>125002</ZBWorkState>

    <!--企业负责人学历-->
    <ZBLeaderDegreeId>107002</ZBLeaderDegreeId>

    <!--企业负责人职称-->
    <ZBLeaderTechId>108002</ZBLeaderTechId>

    <!--企业负责人专业-->
    <ZBLeaderSpecialtyId>109003</ZBLeaderSpecialtyId>

    <!--企业类型-->
    <ZBEntTypeId>110002</ZBEntTypeId>

    <!--企业隶属-->
    <ZBSubjectionId>124002</ZBSubjectionId>

    <!--注册资金单位-->
    <ZBRegistFundUnitId>111002</ZBRegistFundUnitId>
  </ZB>



  <!--房地产企业字典表的一些配置-->
  <FDC>
    <FDCTel>024-23448650</FDCTel>
    <!--页面加载动画图片地址-->
    <FDCLoadingImg>../images/loading.gif</FDCLoadingImg>

    <!--页面加载动提示-->
    <FDCLoadingStr>页面加载中，请耐心等待...</FDCLoadingStr>

    <!--企业登录后的欢迎信息-->
    <FDCEntLoginStr>欢迎登录房地产企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</FDCEntLoginStr>

    <!--人员学历-->
    <FDCDegreeId>107003</FDCDegreeId>

    <!--人员职称-->
    <FDCTechId>108003</FDCTechId>

    <!--人员专业-->
    <FDCSpecialtyId>109004</FDCSpecialtyId>

    <!--房地产人员专业打印用-->
    <FDCPrintSpecialtyId>
      <!--建筑专业编码-->
      <FDCJZSpecialtyId>109004143</FDCJZSpecialtyId>
      <!--结构专业编码-->
      <FDCJGSpecialtyId>109004086</FDCJGSpecialtyId>
      <!--财务专业编码-->
      <FDCCWSpecialtyId>109004148</FDCCWSpecialtyId>
      <!--经济专业编码-->
      <FDCJJSpecialtyId>109004149</FDCJJSpecialtyId>
      <!--统计专业编码-->
      <FDCTJSpecialtyId>109004138</FDCTJSpecialtyId>
      <!--其他专业编码-->
      <FDCQTSpecialtyId>109004042</FDCQTSpecialtyId>
    </FDCPrintSpecialtyId>

    <!--人员状态-->
    <FDCRState>121003</FDCRState>

    <!--从业状况-->
    <FDCWorkState>125003</FDCWorkState>

    <!--企业负责人学历-->
    <FDCLeaderDegreeId>107003</FDCLeaderDegreeId>

    <!--企业负责人职称-->
    <FDCLeaderTechId>108003</FDCLeaderTechId>

    <!--企业负责人专业-->
    <FDCLeaderSpecialtyId>109004</FDCLeaderSpecialtyId>

    <!--企业类型-->
    <FDCEntTypeId>110003</FDCEntTypeId>

    <!--企业隶属-->
    <FDCSubjectionId>124003</FDCSubjectionId>

    <!--企业经营状况-->
    <FDCEntJyzkId>126</FDCEntJyzkId>

    <!--企业国有控股状况-->
    <FDCEntGykgId>128</FDCEntGykgId>

    <!--注册资金单位-->
    <FDCRegistFundUnitId>111003</FDCRegistFundUnitId>

    <!--项目性质-->
    <FDCXmxz>141</FDCXmxz>

    <!--项目中担任职务-->
    <FDCXmzw>144</FDCXmzw>

    <!--国有土地使用权类型-->
    <FDCGytdsyq>146</FDCGytdsyq>

    <!--土地等级-->
    <FDCTddj>145</FDCTddj>

    <!--股东类型-->
    <FDCGdlx>147</FDCGdlx>

  </FDC>



  <!--物业管理企业字典表的一些配置-->
  <WY>

    <!--页面加载动画图片地址-->
    <WYLoadingImg>../images/loading.gif</WYLoadingImg>

    <!--页面加载动提示-->
    <WYLoadingStr>页面加载中，请耐心等待...</WYLoadingStr>

    <!--企业登录后的欢迎信息-->
    <WYEntLoginStr>欢迎登录物业管理企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</WYEntLoginStr>

    <!--人员学历-->
    <WYDegreeId>107013</WYDegreeId>

    <!--人员职称-->
    <WYTechId>108013</WYTechId>

    <!--人员专业-->
    <WYSpecialtyId>109013</WYSpecialtyId>

    <!--人员状态-->
    <WYRState>121013</WYRState>

    <!--从业状况-->
    <WYWorkState>125013</WYWorkState>

    <!--企业负责人学历-->
    <WYLeaderDegreeId>107013</WYLeaderDegreeId>

    <!--企业负责人职称-->
    <WYLeaderTechId>108013</WYLeaderTechId>

    <!--企业负责人专业-->
    <WYLeaderSpecialtyId>109013</WYLeaderSpecialtyId>

    <!--企业类型-->
    <WYEntTypeId>110016</WYEntTypeId>

    <!--企业经营状况-->
    <WYEntJyzkId>187</WYEntJyzkId>

    <!--企业隶属-->
    <WYSubjectionId>124013</WYSubjectionId>

    <!--注册资金单位-->
    <WYRegistFundUnitId>111013</WYRegistFundUnitId>


  </WY>



  <!--建筑节能企业字典表的一些配置-->
  <JZJN>

    <!--页面加载动画图片地址-->
    <JZJNLoadingImg>../images/loading.gif</JZJNLoadingImg>

    <!--页面加载动提示-->
    <JZJNLoadingStr>页面加载中，请耐心等待...</JZJNLoadingStr>

    <!--企业登录后的欢迎信息-->
    <JZJNEntLoginStr>欢迎建筑节能材料和产品备案管理企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</JZJNEntLoginStr>

    <!--企业类型-->
    <JZJNEntTypeId>110019</JZJNEntTypeId>

    <!--注册资金单位-->
    <JZJNRegistFundUnitId>111019</JZJNRegistFundUnitId>

    <!--产品分类-->
    <JZJNProTypeId>444</JZJNProTypeId>

    <!--设备类型-->
    <JZJNFDeviceTypeId>182019</JZJNFDeviceTypeId>

    <!--设备状态-->
    <JZJNFDeviceState>122019</JZJNFDeviceState>


  </JZJN>




  <!--房屋拆迁企业字典表的一些配置-->
  <FWCQ>

    <!--页面加载动画图片地址-->
    <FWCQLoadingImg>../images/loading.gif</FWCQLoadingImg>

    <!--页面加载动提示-->
    <FWCQLoadingStr>页面加载中，请耐心等待...</FWCQLoadingStr>

    <!--企业登录后的欢迎信息-->
    <FWCQEntLoginStr>欢迎登录城市房屋拆迁单位管理信息系统，我们将竭诚为您服务！请及时更新系统信息</FWCQEntLoginStr>

    <!--人员学历-->
    <FWCQDegreeId>107014</FWCQDegreeId>

    <!--人员职称-->
    <FWCQTechId>108014</FWCQTechId>

    <!--人员专业-->
    <FWCQSpecialtyId>109014</FWCQSpecialtyId>

    <!--人员状态-->
    <FWCQRState>121014</FWCQRState>

    <!--从业状况-->
    <FWCQWorkState>125014</FWCQWorkState>

    <!--企业负责人学历-->
    <FWCQLeaderDegreeId>107014</FWCQLeaderDegreeId>

    <!--企业负责人职称-->
    <FWCQLeaderTechId>108014</FWCQLeaderTechId>

    <!--企业负责人专业-->
    <FWCQLeaderSpecialtyId>109014</FWCQLeaderSpecialtyId>

    <!--企业类型-->
    <FWCQEntTypeId>110017</FWCQEntTypeId>

    <!--企业隶属-->
    <FWCQSubjectionId>124014</FWCQSubjectionId>

    <!--注册资金单位-->
    <FWCQRegistFundUnitId>111014</FWCQRegistFundUnitId>

  </FWCQ>



  <!--评估机构字典表配置-->
  <PGJG>

    <!--页面加载动画图片地址-->
    <PGJGLoadingImg>../images/loading.gif</PGJGLoadingImg>

    <!--页面加载动提示-->
    <PGJGLoadingStr>页面加载中，请耐心等待...</PGJGLoadingStr>

    <!--企业登录后的欢迎信息-->
    <PGJGEntLoginStr>欢迎登录房地产价格评估管理信息系统，我们将竭诚为您服务！请及时更新系统信息</PGJGEntLoginStr>

    <!--人员学历-->
    <PGJGDegreeId>107017</PGJGDegreeId>

    <!--人员职称-->
    <PGJGTechId>108017</PGJGTechId>

    <!--人员专业-->
    <PGJGSpecialtyId>109017</PGJGSpecialtyId>

    <!--人员状态-->
    <PGJGRState>121017</PGJGRState>

    <!--从业状况-->
    <PGJGWorkState>125017</PGJGWorkState>

    <!--企业负责人学历-->
    <PGJGLeaderDegreeId>107017</PGJGLeaderDegreeId>

    <!--企业负责人职称-->
    <PGJGLeaderTechId>108017</PGJGLeaderTechId>

    <!--企业负责人专业-->
    <PGJGLeaderSpecialtyId>109017</PGJGLeaderSpecialtyId>

    <!--企业类型-->
    <PGJGEntTypeId>110023</PGJGEntTypeId>

    <!--企业隶属-->
    <PGJGSubjectionId>124017</PGJGSubjectionId>

    <!--注册资金单位-->
    <PGJGRegistFundUnitId>111023</PGJGRegistFundUnitId>



  </PGJG>

  <!--施工设计企业字典表配置-->
  <SGSJ>
    <!--页面加载动画图片地址-->
    <SGSJLoadingImg>../images/loading.gif</SGSJLoadingImg>

    <!--页面加载动提示-->
    <SGSJLoadingStr>页面加载中，请耐心等待...</SGSJLoadingStr>

    <!--企业登录后的欢迎信息-->
    <SGSJEntLoginStr>欢迎登录设计施工企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</SGSJEntLoginStr>

    <!--人员学历-->
    <SGSJDegreeId>107016</SGSJDegreeId>

    <!--人员职称-->
    <SGSJTechId>108016</SGSJTechId>

    <!--人员专业-->
    <SGSJSpecialtyId>109016</SGSJSpecialtyId>

    <!--人员状态-->
    <SGSJRState>121016</SGSJRState>

    <!--从业状况-->
    <SGSJWorkState>125016</SGSJWorkState>

    <!--企业负责人学历-->
    <SGSJLeaderDegreeId>107016</SGSJLeaderDegreeId>

    <!--企业负责人职称-->
    <SGSJLeaderTechId>108016</SGSJLeaderTechId>

    <!--企业负责人专业-->
    <SGSJLeaderSpecialtyId>109016</SGSJLeaderSpecialtyId>

    <!--企业类型-->
    <SGSJEntTypeId>110022</SGSJEntTypeId>

    <!--企业隶属-->
    <SGSJSubjectionId>124016</SGSJSubjectionId>

    <!--注册资金单位-->
    <SGSJRegistFundUnitId>111020</SGSJRegistFundUnitId>

    <!--股东类型-->
    <SGSJGdlx>400</SGSJGdlx>

    <!--项目类型-->
    <SGSJProjectId>401</SGSJProjectId>

    <!--项目经理级别-->
    <SGSJManageType>440</SGSJManageType>
  </SGSJ>

  <!--规划编制单位字典表配置-->
  <GHBZ>
    <!--页面加载动画图片地址-->
    <GHBZLoadingImg>../images/loading.gif</GHBZLoadingImg>

    <!--页面加载动提示-->
    <GHBZLoadingStr>页面加载中，请耐心等待...</GHBZLoadingStr>

    <!--企业登录后的欢迎信息-->
    <GHBZEntLoginStr>欢迎登录规划编制单位管理信息系统，我们将竭诚为您服务！请及时更新系统信息</GHBZEntLoginStr>

    <!--人员学历-->
    <GHBZDegreeId>107018</GHBZDegreeId>

    <!--人员职称-->
    <GHBZTechId>108018</GHBZTechId>
    <GHBZSpecialtyId>109018</GHBZSpecialtyId>

    <!--执业类别-->
    <GHBZEmpTypeId>123003</GHBZEmpTypeId>

    <!--人员专业-->
    <GHBZSpecialtyId>109018</GHBZSpecialtyId>

    <!--人员状态-->
    <GHBZRState>121018</GHBZRState>

    <!--从业状况-->
    <GHBZWorkState>125018</GHBZWorkState>

    <!--企业负责人学历-->
    <GHBZLeaderDegreeId>107018</GHBZLeaderDegreeId>

    <!--企业负责人职称-->
    <GHBZLeaderTechId>108018</GHBZLeaderTechId>

    <!--企业类型-->
    <GHBZEntTypeId>110024</GHBZEntTypeId>

    <!--企业隶属-->
    <GHBZSubjectionId>124018</GHBZSubjectionId>

    <!--注册资金单位-->
    <GHBZRegistFundUnitId>111020</GHBZRegistFundUnitId>

    <!--股东类型-->
    <GHBZGdlx>400</GHBZGdlx>

    <!--项目类型-->
    <GHBZProjectId>401</GHBZProjectId>

    <!--项目经理级别-->
    <GHBZManageType>440</GHBZManageType>
  </GHBZ>

  <!--造价咨询企业字典表的一些配置-->
  <ZJZX>

    <!--页面加载动画图片地址-->
    <ZJZXLoadingImg>../images/loading.gif</ZJZXLoadingImg>

    <!--页面加载动提示-->
    <ZJZXLoadingStr>页面加载中，请耐心等待...</ZJZXLoadingStr>

    <!--企业登录后的欢迎信息-->
    <ZJZXEntLoginStr>欢迎登录工程造价咨询企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</ZJZXEntLoginStr>

    <!--人员学历-->
    <ZJZXDegreeId>107015</ZJZXDegreeId>

    <!--人员职称-->
    <ZJZXTechId>108015</ZJZXTechId>

    <!--人员专业-->
    <ZJZXSpecialtyId>109015</ZJZXSpecialtyId>

    <!--人员状态-->
    <ZJZXRState>121015</ZJZXRState>

    <!--从业状况-->
    <ZJZXWorkState>125015</ZJZXWorkState>

    <!--企业负责人学历-->
    <ZJZXLeaderDegreeId>107015</ZJZXLeaderDegreeId>

    <!--企业负责人职称-->
    <ZJZXLeaderTechId>108015</ZJZXLeaderTechId>

    <!--企业负责人专业-->
    <ZJZXLeaderSpecialtyId>109015</ZJZXLeaderSpecialtyId>

    <!--企业类型-->
    <ZJZXEntTypeId>110012</ZJZXEntTypeId>

    <!--企业隶属-->
    <ZJZXSubjectionId>124015</ZJZXSubjectionId>

    <!--注册资金单位-->
    <ZJZXRegistFundUnitId>111015</ZJZXRegistFundUnitId>

    <!--股东类型-->
    <ZJZXGdlx>400</ZJZXGdlx>

    <!--执业类别-->
    <ZJZXEmpTypeId>123008</ZJZXEmpTypeId>

    <!--项目类型-->
    <ZJZXProjectId>401</ZJZXProjectId>


  </ZJZX>





  <!--园林绿化企业字典表编码-->
  <YLLH>
    <YLLHEntTel>029-87881499 87881482 转 8185 8186 8183</YLLHEntTel>

    <!--页面加载动画图片地址-->
    <YLLHLoadingImg>../images/loading.gif</YLLHLoadingImg>

    <!--页面加载动提示-->
    <YLLHLoadingStr>页面加载中，请耐心等待...</YLLHLoadingStr>

    <!--企业登录后的欢迎信息-->
    <YLLHEntLoginStr>欢迎登录园林绿化企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</YLLHEntLoginStr>



    <!--人员学历-->
    <YLLHDegreeId>107004</YLLHDegreeId>

    <!--人员职称-->
    <YLLHTechId>108004</YLLHTechId>

    <!--人员专业-->
    <YLLHSpecialtyId>109006</YLLHSpecialtyId>

    <!--人员状态-->
    <YLLHRState>121004</YLLHRState>

    <!--从业状况-->
    <YLLHWorkState>125004</YLLHWorkState>

    <!--证书级别-->
    <YLLHEmpFLevelId>117000</YLLHEmpFLevelId>


    <!--企业负责人学历-->
    <YLLHLeaderDegreeId>107004</YLLHLeaderDegreeId>

    <!--企业负责人职称-->
    <YLLHLeaderTechId>108004</YLLHLeaderTechId>

    <!--企业负责人专业-->
    <YLLHLeaderSpecialtyId>109006</YLLHLeaderSpecialtyId>

    <!--设备类型-->
    <YLLHFDeviceTypeId>182004</YLLHFDeviceTypeId>

    <!--设备状态-->
    <YLLHFDeviceState>122004</YLLHFDeviceState>

    <!--设备类别-->
    <YLLHFDeviceKindId>151</YLLHFDeviceKindId>

    <!--经济性质-->
    <YLLHEntTypeId>110004</YLLHEntTypeId>

    <!--注册资金单位-->
    <YLLHRegistFundUnitId>111004</YLLHRegistFundUnitId>

  </YLLH>

  <!--外来勘查设计企业字典表编码-->
  <WKCSJ>

    <!--页面加载动画图片地址-->
    <WKCSJLoadingImg>../images/loading.gif</WKCSJLoadingImg>

    <!--页面加载动提示-->
    <WKCSJLoadingStr>页面加载中，请耐心等待...</WKCSJLoadingStr>

    <!--企业登录后的欢迎信息-->
    <WKCSJEntLoginStr>欢迎登录外来勘查设计企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息 </WKCSJEntLoginStr>


    <!--人员学历-->
    <WKCSJDegreeId>107005</WKCSJDegreeId>

    <!--人员职称-->
    <WKCSJTechId>108007</WKCSJTechId>

    <!--人员专业-->
    <WKCSJSpecialtyId>109007</WKCSJSpecialtyId>

    <!--人员状态-->
    <WKCSJRState>121005</WKCSJRState>

    <!--从业状况-->
    <WKCSJWorkState>125005</WKCSJWorkState>

    <!--证书级别-->
    <WKCSJEmpFLevelId>117005</WKCSJEmpFLevelId>

    <!--企业负责人学历-->
    <WKCSJLeaderDegreeId>107005</WKCSJLeaderDegreeId>

    <!--企业负责人职称-->
    <WKCSJLeaderTechId>108007</WKCSJLeaderTechId>

    <!--企业负责人专业-->
    <WKCSJLeaderSpecialtyId>109007</WKCSJLeaderSpecialtyId>

    <!--设备类型-->
    <WKCSJFDeviceTypeId>182005</WKCSJFDeviceTypeId>

    <!--设备状态-->
    <WKCSFDeviceState>122005</WKCSFDeviceState>



    <!--经济性质-->
    <WKCSJEntTypeId>110005</WKCSJEntTypeId>

    <!--企业隶属-->
    <WKCSJSubjectionId>124005</WKCSJSubjectionId>

    <!--注册资金单位-->
    <WKCSRegistFundUnitId>111005</WKCSRegistFundUnitId>

  </WKCSJ>


  <!--施工图审查机构字典表编码-->
  <SGT>

    <!--页面加载动画图片地址-->
    <SGTLoadingImg>../images/loading.gif</SGTLoadingImg>

    <!--页面加载动提示-->
    <SGTLoadingStr>页面加载中，请耐心等待...</SGTLoadingStr>

    <!--企业登录后的欢迎信息-->
    <SGTEntLoginStr>欢迎登录施工图管理信息系统，我们将竭诚为您服务！请及时更新系统信息</SGTEntLoginStr>


    <!--人员学历-->
    <SGTDegreeId>107006</SGTDegreeId>

    <!--人员职称-->
    <SGTTechId>108006</SGTTechId>

    <!--人员专业-->
    <SGTSpecialtyId>109005</SGTSpecialtyId>

    <!--建筑-->
    <SGTSpecialtyJzId>109005001</SGTSpecialtyJzId>
    <!--结构-->
    <SGTSpecialtyJgId>109005002</SGTSpecialtyJgId>
    <!--勘察-->
    <SGTSpecialtyKcId>109005003</SGTSpecialtyKcId>
    <!--其他-->
    <SGTSpecialtyQtId>109005004</SGTSpecialtyQtId>



    <!--人员状态-->
    <SGTRState>121006</SGTRState>

    <!--从业状况-->
    <SGTWorkState>125006</SGTWorkState>

    <!--证书级别-->
    <SGTEmpFLevelId>117006</SGTEmpFLevelId>

    <!--企业负责人学历-->
    <SGTLeaderDegreeId>107006</SGTLeaderDegreeId>

    <!--企业负责人职称-->
    <SGTLeaderTechId>108006</SGTLeaderTechId>

    <!--企业负责人专业-->
    <SGTLeaderSpecialtyId>109005</SGTLeaderSpecialtyId>

    <!--设备类型-->
    <SGTFDeviceTypeId>182006</SGTFDeviceTypeId>

    <!--设备状态-->
    <SGTFDeviceState>122006</SGTFDeviceState>

    <!--经济性质-->
    <SGTEntTypeId>110006</SGTEntTypeId>

    <!--企业隶属-->
    <SGTSubjectionId>124006</SGTSubjectionId>

    <!--注册资金单位-->
    <SGTRegistFundUnitId>111006</SGTRegistFundUnitId>


    <!--审查范围-->
    <SGTScfw>154</SGTScfw>

    <!--机构类型-->
    <SGTJglx>153</SGTJglx>

    <!--独立审查机构（企业）-->
    <SGTJglx1>153001</SGTJglx1>
    <!--设计院-->
    <SGTJglx2>153002</SGTJglx2>
    <!--其他审图机构-->
    <SGTJglx3>153003</SGTJglx3>
    <!--独立审查机构（事业）-->
    <SGTJglx4>153004</SGTJglx4>


    <!--机构类型-->
    <SGTJgsslx>152</SGTJgsslx>

    <!--工程种类-->
    <SGTGczl>148</SGTGczl>

    <!--房屋建筑工程种类编码-->
    <SGTFw>148001</SGTFw>

    <!--市政工程种类编码-->
    <SGTSz>148002</SGTSz>

    <!--工程性质-->
    <SGTGcxz>149</SGTGcxz>

    <!--市政工程规模-->
    <SGTSzGcgm>176</SGTSzGcgm>

    <!--房屋建筑工程规模-->
    <SGTFwGcgm>177</SGTFwGcgm>

    <!--工程等级-->
    <SGTGcdj>178</SGTGcdj>

    <!--市政工程类型-->
    <SGTSzGclx>175</SGTSzGclx>

    <!--房屋建筑工程类型-->
    <SGTFwGclx>150</SGTFwGclx>

  </SGT>


  <!--勘察设计企业字典表编码-->
  <KCSJ>
    <KCSJEntTel>029-87881483 87881499 转 8185 8186</KCSJEntTel>


    <!--页面加载动画图片地址-->
    <KCSJLoadingImg>../images/loading.gif</KCSJLoadingImg>

    <!--页面加载动提示-->
    <KCSJLoadingStr>页面加载中，请耐心等待...</KCSJLoadingStr>

    <!--企业登录后的欢迎信息-->
    <KCSJEntLoginStr>
    </KCSJEntLoginStr>


    <!--人员学历-->
    <KCSJDegreeId>107007</KCSJDegreeId>

    <!--人员职称-->
    <KCSJTechId>108007</KCSJTechId>

    <!--人员专业-->
    <KCSJSpecialtyId>109008</KCSJSpecialtyId>

    <!--人员状态-->
    <KCSJRState>121007</KCSJRState>


    <!--人员负责行业-->
    <KCSJEmpFzhy>158</KCSJEmpFzhy>


    <!--勘察设计证书分类-->
    <KCSJCertiType>180</KCSJCertiType>


    <!--从业状况-->
    <KCSJWorkState>125007</KCSJWorkState>

    <!--执业类别-->
    <KCSJEmpTypeId>123007</KCSJEmpTypeId>

    <!--注册建造师项目经理编码-->
    <KCSJProManagerTypeId>123007000</KCSJProManagerTypeId>

    <!--证书级别-->
    <KCSJEmpFLevelId>117007</KCSJEmpFLevelId>

    <!--企业负责人学历-->
    <KCSJLeaderDegreeId>107007</KCSJLeaderDegreeId>

    <!--企业负责人职称-->
    <KCSJLeaderTechId>108007</KCSJLeaderTechId>

    <!--企业负责人专业-->
    <KCSJLeaderSpecialtyId>109008</KCSJLeaderSpecialtyId>

    <!--经济性质-->
    <KCSJEntTypeId>110007</KCSJEntTypeId>

    <!--企业隶属-->
    <KCSJSubjectionId>124007</KCSJSubjectionId>

    <!--注册资金单位-->
    <KCSJRegistFundUnitId>111007</KCSJRegistFundUnitId>

    <!--工程等级-->
    <KCSJGcdj>165</KCSJGcdj>

    <!--完成合同额-->
    <KCSJGcHte>166</KCSJGcHte>

    <!--1.1工程勘察完成合同额(万元)-->
    <KCSJGcHte1>166001</KCSJGcHte1>
    <!--1.2工程设计完成合同额(万元)-->
    <KCSJGcHte2>166002</KCSJGcHte2>
    <!--2.1岩土工程治理完成合同额(万元)-->
    <KCSJGcHte3>166003</KCSJGcHte3>
    <!--2.2工程总承包完成合同额(万元)-->
    <KCSJGcHte4>166004</KCSJGcHte4>
    <!--2.3专业承包完成合同额(万元)-->
    <KCSJGcHte5>166005</KCSJGcHte5>
    <!--3.工程技术管理服务(含工程咨询)-->
    <KCSJGcHte6>166006</KCSJGcHte6>
    <!--4.境外工程完成合同额(万元)-->
    <KCSJGcHte7>166007</KCSJGcHte7>

  </KCSJ>

  <!--质量检测结构字典表编码-->
  <ZLJC>

    <!--页面加载动画图片地址-->
    <ZLJCLoadingImg>../images/loading.gif</ZLJCLoadingImg>

    <!--页面加载动提示-->
    <ZLJCLoadingStr>页面加载中，请耐心等待...</ZLJCLoadingStr>

    <!--企业登录后的欢迎信息-->
    <ZLJCEntLoginStr>欢迎登录工程质量检测机构管理系统，我们将竭诚为您服务！请及时更新系统信息。</ZLJCEntLoginStr>

    <!--人员学历-->
    <ZLJCDegreeId>107010</ZLJCDegreeId>

    <!--人员职称-->
    <ZLJCTechId>108010</ZLJCTechId>

    <!--人员专业-->
    <ZLJCSpecialtyId>109012</ZLJCSpecialtyId>

    <!--人员状态-->
    <ZLJCRState>121010</ZLJCRState>

    <!--从业状况-->
    <ZLJCWorkState>125010</ZLJCWorkState>

    <!--企业负责人学历-->
    <ZLJCLeaderDegreeId>107010</ZLJCLeaderDegreeId>

    <!--企业负责人职称-->
    <ZLJCLeaderTechId>108010</ZLJCLeaderTechId>

    <!--企业负责人专业-->
    <ZLJCLeaderSpecialtyId>109012</ZLJCLeaderSpecialtyId>

    <!--经济性质-->
    <ZLJCEntTypeId>110010</ZLJCEntTypeId>

    <!--企业隶属-->
    <ZLJCSubjectionId>124010</ZLJCSubjectionId>

    <!--注册资金单位-->
    <ZLJCRegistFundUnitId>111010</ZLJCRegistFundUnitId>

    <!--设备类型-->
    <ZLJCFDeviceTypeId>182010</ZLJCFDeviceTypeId>

    <!--设备状态-->
    <ZLCJFDeviceState>122010</ZLCJFDeviceState>

  </ZLJC>


  <!--外来施工企业结构字典表编码-->
  <WSG>

    <!--页面加载动画图片地址-->
    <WSGLoadingImg>../images/loading.gif</WSGLoadingImg>

    <!--页面加载动提示-->
    <WSGLoadingStr>页面加载中，请耐心等待...</WSGLoadingStr>

    <!--企业登录后的欢迎信息-->
    <WSGEntLoginStr>欢迎登录质量标准检测机构管理信息系统，我们将竭诚为您服务！请及时更新系统信息</WSGEntLoginStr>

    <!--人员学历-->
    <WSGDegreeId>107010</WSGDegreeId>

    <!--人员职称-->
    <WSGTechId>108000</WSGTechId>

    <!--人员专业-->
    <WSGSpecialtyId>109012</WSGSpecialtyId>

    <!--人员状态-->
    <WSGRState>121010</WSGRState>

    <!--从业状况-->
    <WSGWorkState>125010</WSGWorkState>

    <!--执业类别-->
    <WSGEmpTypeId>123000</WSGEmpTypeId>


    <!--注册建造师项目经理编码-->
    <WSGJLProManagerTypeId>123000000</WSGJLProManagerTypeId>


    <!--证书级别-->
    <WSGEmpFLevelId>117000</WSGEmpFLevelId>

    <!--注册专业-->
    <WSGFRegistSpecialId>118000</WSGFRegistSpecialId>




    <!--企业负责人学历-->
    <WSGLeaderDegreeId>107010</WSGLeaderDegreeId>

    <!--企业负责人职称-->
    <WSGLeaderTechId>108010</WSGLeaderTechId>

    <!--企业负责人专业-->
    <WSGLeaderSpecialtyId>109012</WSGLeaderSpecialtyId>

    <!--经济性质-->
    <WSGEntTypeId>110010</WSGEntTypeId>

    <!--企业隶属-->
    <WSGSubjectionId>124010</WSGSubjectionId>

    <!--注册资金单位-->
    <WSGRegistFundUnitId>111010</WSGRegistFundUnitId>

    <!--设备类型-->
    <WSGFDeviceTypeId>182010</WSGFDeviceTypeId>

    <!--设备状态-->
    <WSGFDeviceState>122010</WSGFDeviceState>

  </WSG>



  <!--外来施工企业结构字典表编码-->
  <ZJZX>

    <!--页面加载动画图片地址-->
    <ZJZXLoadingImg>../images/loading.gif</ZJZXLoadingImg>

    <!--页面加载动提示-->
    <ZJZXLoadingStr>页面加载中，请耐心等待...</ZJZXLoadingStr>

    <!--企业登录后的欢迎信息-->
    <ZJZXEntLoginStr>欢迎登录造价咨询企业管理信息系统，我们将竭诚为您服务！请及时更新系统信息</ZJZXEntLoginStr>

    <!--人员学历-->
    <ZJZXDegreeId>107010</ZJZXDegreeId>

    <!--人员职称-->
    <ZJZXTechId>108010</ZJZXTechId>

    <!--人员专业-->
    <ZJZXSpecialtyId>109012</ZJZXSpecialtyId>

    <!--人员状态-->
    <ZJZXRState>121010</ZJZXRState>

    <!--从业状况-->
    <ZJZXWorkState>125010</ZJZXWorkState>

    <!--执业类别-->
    <ZJZXEmpTypeId>123000</ZJZXEmpTypeId>


    <!--注册建造师项目经理编码-->
    <ZJZXJLProManagerTypeId>123000000</ZJZXJLProManagerTypeId>


    <!--证书级别-->
    <ZJZXEmpFLevelId>117000</ZJZXEmpFLevelId>

    <!--注册专业-->
    <ZJZXFRegistSpecialId>118000</ZJZXFRegistSpecialId>

    <!--企业负责人学历-->
    <ZJZXLeaderDegreeId>107010</ZJZXLeaderDegreeId>

    <!--企业负责人职称-->
    <ZJZXLeaderTechId>108010</ZJZXLeaderTechId>

    <!--企业负责人专业-->
    <ZJZXLeaderSpecialtyId>109012</ZJZXLeaderSpecialtyId>

    <!--经济性质-->
    <ZJZXEntTypeId>110012</ZJZXEntTypeId>

    <!--企业隶属-->
    <ZJZXSubjectionId>124010</ZJZXSubjectionId>

    <!--注册资金单位-->
    <ZJZXRegistFundUnitId>111010</ZJZXRegistFundUnitId>

    <!--设备类型-->
    <ZJZXFDeviceTypeId>182010</ZJZXFDeviceTypeId>

    <!--设备状态-->
    <ZJZXFDeviceState>122010</ZJZXFDeviceState>

  </ZJZX>


  <!--注册建造师字典编码表-->
  <!--所学专业-->
  <ZJSSpecialtyId>109011</ZJSSpecialtyId>

  <!--建造师学历-->
  <ZJSDegreeId>107008</ZJSDegreeId>

  <!--学位-->
  <ZJSDegreePostionId>302</ZJSDegreePostionId>

  <!--民族-->
  <ZJSMZ>300</ZJSMZ>

  <!--职称-->
  <ZJSTechId>108007</ZJSTechId>
  <!--证件类型-->
  <ZJSZJLX>129</ZJSZJLX>


  <!--注册专业-->
  <ZJSZCZY>109009</ZJSZCZY>


  <!--证书取得方式-->
  <ZJSZSQDFS>159</ZJSZSQDFS>



  <!--申请类别-->
  <ZJSZCLB>160</ZJSZCLB>

  <!--相关证书类别-->
  <ZJSZSLB>161</ZJSZSLB>



  <!--监理工程师字典编码表-->
  <!--所学专业-->
  <JLGCSSpecialtyId>109012</JLGCSSpecialtyId>

  <!--学历-->
  <JLGCSDegreeId>107009</JLGCSDegreeId>

  <!--职称-->
  <JLGCSTechId>108009</JLGCSTechId>

  <!--证件类型-->
  <JLGCSZJLX>129</JLGCSZJLX>


  <!--注册专业-->
  <JLGCSZCZY>109010</JLGCSZCZY>


  <!--证书取得方式-->
  <JLGCSZSQDFS>300</JLGCSZSQDFS>

  <!--申请类别-->
  <JLGCSZCLB>302</JLGCSZCLB>

  <!--相关证书类别-->
  <JLGCSZSLB>304</JLGCSZSLB>

  <!--外省企业-->
  <!--现场管理人员职位-->
  <RCPersonType>30300</RCPersonType>
  <!--现场管理人员证书类别-->
  <RcCertiNoType>30301</RcCertiNoType>

  <!--新增-->

  <!--监理师学历-->
  <JLGCSDegreeId>107009</JLGCSDegreeId>

  <!--职称-->
  <JLGCSTechId>108009</JLGCSTechId>

  <!--失效或不予注册、被注销注册原因-->
  <ZJSLogoutCause>165</ZJSLogoutCause>

  <GCXMFCertiTypeId>194</GCXMFCertiTypeId>

  <!--上传文件大小 限制为 400KB-->
  <SGXKFileSize>409600</SGXKFileSize>
  <!--关于各系统人员照片大小  限制为 3KB-->
  <EmpPhoto>3072</EmpPhoto>

  <!--施工许可管理系统，管理用户是否禁止用户名登陆-->
  <SGXKNoUserName>1</SGXKNoUserName>

  <!--三类人员系统-->
  <PersonBackUp>

    <!--注册建造师字典编码表-->
    <!--建造师学历-->
    <PersonBackUpDegreeId>107008</PersonBackUpDegreeId>

    <!--学位-->
    <PersonBackUpDegreePostionId>302</PersonBackUpDegreePostionId>

    <!--民族-->
    <PersonBackUpMZ>300</PersonBackUpMZ>

    <!--职称-->
    <PersonBackUpTechId>108007</PersonBackUpTechId>

    <!--证件类型-->
    <PersonBackUpZJLX>1129</PersonBackUpZJLX>

    <!--证书取得方式-->
    <PersonBackUpZSQDFS>159</PersonBackUpZSQDFS>



    <!--民族-->
    <PersonBackUpMZ>300</PersonBackUpMZ>

    <!--注册人员类别-->
    <PersonBackId>600</PersonBackId>

  </PersonBackUp>
  
</configuration>