<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbCenter" connectionString="Password=sql2008;Persist Security Info=True;User ID=sa;Initial Catalog=dbCenter;Data Source=.\SQLEXPRESS08"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.dbCenterConnectionString"
            connectionString="Data Source=.\SQLEXPRESS08;Initial Catalog=dbCenter;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.dbCenterConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS08;Initial Catalog=dbCenter;Persist Security Info=True;User ID=sa;Password=sql2008"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.dbCenterConnectionString2"
            connectionString="Data Source=172.16.0.115;Initial Catalog=dbCenter;Persist Security Info=True;User ID=jkc115;Password=jkc115"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.dbCenterConnectionString3"
            connectionString="Data Source=192.168.101.9\MSSQLSERVER08;Initial Catalog=dbCenter;Persist Security Info=True;User ID=sa;Password=sql2008"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.JST_XZSPBaseInfoConnectionString"
            connectionString="Data Source=172.16.0.115;Initial Catalog=JST_XZSPBaseInfo;Persist Security Info=True;User ID=jkc115;Password=jkc115"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.dbCenter_scConnectionString"
            connectionString="Data Source=192.168.101.9\MSSQLSERVER08;Initial Catalog=dbCenter_sc;Persist Security Info=True;User ID=sa;Password=sql2008"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.JST_XZSPBaseInfoConnectionString1"
            connectionString="Data Source=192.168.101.9\MSSQLSERVER08;Initial Catalog=JST_XZSPBaseInfo;Persist Security Info=True;User ID=sa;Password=sql2008"
            providerName="System.Data.SqlClient" />
        <add name="EgovaDAO.Properties.Settings.dbCenterConnectionString4"
            connectionString="Data Source=.;Initial Catalog=dbCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
